
.box1{
  background: rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  transform: translate(-50%,-50%);
  width:500px;
  height:420px;
  top:40%;
  left:50%;
  box-sizing: border-box;
}
.box2{
    background: rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  transform: translate(-50%,-50%);
  width:500px;
  height:420px;
  top:115%;
  left:50%;
  box-sizing: border-box;

}
