body{
    /* //display: flex; */
    align-items: center;
    /* background-color: aqua; */
}
.calc{
    /* display: flex; */
    width:60px;
    height: 60px;;
}
button{
    color:white;
    background-color: black;
    width: 90px;
    height: 50px;
}
div{
  border:2px solid black;
  width: 378px;
}